name: Create GitHub release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      publish:
        description: 'Publish release'
        required: true
        type: 'choice'
        default: 'release'
        options:
        - release
        - prerelease
        - draft
jobs:
  release:
    name: Create release
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        include:
          - os: windows-latest
            runtime: win-x64
            exe: DMXforDummies.exe
            extra: "--noPortable -f net8-x64"
            icon: DMXforDummies/Assets/Logo.ico
          - os: ubuntu-latest
            runtime: linux-x64
            exe: DMXforDummies
            extra: "--categories \"Network;Utility\""
            icon: Logo.svg
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET SDK from global.json
      uses: actions/setup-dotnet@v5
    - uses: dotnet/nbgv@v0.4
      id: nbgv
    - name: Build
      run: dotnet build -c Release /p:ContinuousIntegrationBuild=true
    - name: Publish app
      run: dotnet publish DMXforDummies/DMXforDummies.csproj -c Release -o publish -r ${{ matrix.runtime }} --self-contained true
    - name: Upload Release
      run: |
        dotnet tool install -g vpk
        vpk download github --repoUrl https://github.com/${{ github.repository }} --token ${{ secrets.GITHUB_TOKEN }}
        vpk pack -u DMXforDummies -v ${{ steps.nbgv.outputs.SemVer2 }} -p publish --packAuthors "Akademischer Verein an der TU Darmstadt" --packTitle DMXforDummies -i ${{ matrix.icon }} -e ${{ matrix.exe }} ${{ matrix.extra }}
        vpk upload github --repoUrl https://github.com/${{ github.repository }} --merge --tag v${{ steps.nbgv.outputs.SemVer2 }} --token ${{ secrets.GITHUB_TOKEN }}

  publish:
    name: Publish release
    if: github.event.inputs.publish != 'draft'
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs: release
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET SDK from global.json
      uses: actions/setup-dotnet@v5
    - uses: dotnet/nbgv@v0.4
      id: nbgv
    - name: Publish draft release as release
      if: github.event.inputs.publish == 'release'
      run: gh release edit v${{ steps.nbgv.outputs.SemVer2 }} --draft=false --verify-tag --title "DMXforDummies ${{ steps.nbgv.outputs.SemVer2 }}"
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Publish draft release as pre-release
      if: github.event.inputs.publish == 'prerelease'
      run: gh release edit v${{ steps.nbgv.outputs.SemVer2 }} --draft=false --prerelease --verify-tag --title "DMXforDummies ${{ steps.nbgv.outputs.SemVer2 }}"
      env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
